{{#if success_msg}}
<div class="container" >
     <span class="right success lighten-3">{{success_msg}}</span>
</div>
{{/if}} {{#if error_msg}}
<div class="container" >
    <span class="right error lighten-3">{{error_msg}}</span>
</div>
{{/if}}